<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<app-privacy-policy [(show)]="showPrivacy"></app-privacy-policy>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="/">Flea Market</a>
  <form class="mx-2 my-auto d-inline">
    <input type="text" #searchField class="form-control" placeholder="...">
  </form>
  <button type="button" class="btn btn-success btn-default" (click)="btnClick(searchField.value)"><i class="fas fa-search"></i> Search</button>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
    <ul class="navbar-nav  text-black">
      <li class="nav-item home-login text-center rounded-pill" [hidden]="user.username=='anonymous'">
        <a href="/profile/{{user._id}}" class="nav-link home-login rounded-pill text-center">Welcome {{user.username}}</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link home-login rounded-pill text-center">Home</a>
      </li>
      <li class="nav-item" [hidden]="user.username!='anonymous'">
        <a href="login" class="nav-link home-login rounded-pill text-center">Sign In</a>
      </li>
      <li class="nav-item">
        <a href="register" class="nav-link home-login rounded-pill text-center">Sign Up </a>
      </li>
      <li class="nav-item" [hidden]="user.username=='anonymous'">
        <a (click)="logout()" class="nav-link home-login rounded-pill text-center">Sign Out</a>
      </li>
      <li class="nav-item" [hidden]="user.username=='anonymous'">
        <a (click)="showPrivacyPage()" class="nav-link home-login rounded-pill text-center">Privacy</a>
      </li>
    </ul>
  </div>
</nav>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>
