<h6>name <input [(ngModel)]="product.name" type="text"/></h6>
<h6>type <input [(ngModel)]="product.type" type="text"/></h6>
<h6>price <input [(ngModel)]="product.price" type="number"/></h6>
<h6>description <input [(ngModel)]="product.description" type="text"/></h6>
<h6>address <input [(ngModel)]="product.address" type="text"/></h6>
<h6>lat <input [(ngModel)]="product.location.lat" type="number"/></h6>
<h6>lng <input [(ngModel)]="product.location.lng" type="number"/></h6>

<button (click)="save()">Save</button>
