<div class="products container my-5">
    <div class="row align-items-center title">
        <div class="col-6 bg-light pt-3 px-3">
            <h3 class="name">{{product.name}}</h3>
            <h5>{{product.address}}</h5>
            <div class="price">${{product.price}}</div>
            <div class="type">{{product.type}}</div>
            <p>Posted by <a routerLink="/profile/{{product.owner._id}}">
              {{product.owner.username}}
            </a></p>
            <h5>Details:</h5>
            <p>{{product.description}}</p>
            <h5>Status:</h5>
            <p>{{product.status}}</p>
            <p [hidden]="product.status !== 'SOLD'">Bought by <a routerLink="/profile/{{product.boughtBy}}"> {{buyerName}} </a></p>

          <div class="text-center">
              <button (click)="requestPurchase()"
                      class="btn btn-success btn-block rounded-pill"
                      [hidden]="currentUser.role !== 'BUYER' || product.status === 'PENDING' || product.status === 'SOLD'">
                BUY
              </button>
              <button (click)="confirmPurchase()"
                      class="btn btn-success btn-block rounded-pill"
                      [hidden]="product.status !== 'PENDING' || !productOwner()">
                CONFIRM SOLD
              </button>
              <a class="btn btn-warning btn-block rounded-pill"
                  [hidden]="!productOwner()"
                  routerLink="/edit/{{product._id}}">EDIT</a>

              <a routerLink="/home"
                class="btn btn-danger btn-block rounded-pill"
                [hidden]="!productOwner()"
                (click)="deleteProduct(product._id)">DELETE</a>
            </div>
          <h4>Remarks:</h4>
            <div>
              <ul class="mb-2 list-group">
                <li
                  [ngClass]="{'list-group-item-success': remark === selectedRemark}"
                  (click)="selectRemark(remark)"
                  *ngFor="let remark of remarks"
                  class="list-group-item">
                  {{remark.author.username}}:
                  <span [hidden]="remark.editing">{{remark.content}}</span>
                  <textarea class="form-control" [hidden]="!remark.editing" [(ngModel)]="remark.content"></textarea>
                  <div [hidden]="currentUser._id !== remark.author._id || remark !== selectedRemark">
                    <button class="btn btn-sm btn-danger float-right" (click)="deleteRemark(remark)">
                      delete
                    </button>
                    <button class="btn btn-sm btn-warning float-right" [hidden]="remark.editing" (click)="editRemark(remark)">
                      edit
                    </button>
                    <button class="btn btn-sm btn-success float-right" [hidden]="!remark.editing" (click)="saveRemark(remark)">
                      save
                    </button>
                  </div>
                </li>
                <li class="list-group-item" [hidden]="currentUser._id === ''">

                  <button class="btn btn-sm btn-primary" (click)="addRemark()">
                    remark
                  </button>
                </li>
              </ul>
            </div>

        </div>

        <div class="col-6 d-flex justify-content-center align-items-center">
          <div class="image" style="background-image: url('{{product.base64}}')"></div>
        </div>
    </div>
</div>
