<ul class="products">
    <li *ngIf="publish">
      <div class="plus">
        <a routerLink="/publish">
          <i class="fa fa-plus fa-2x text-primary"></i>
        </a>
      </div>
    </li>
    <li *ngFor="let product of products">
      <div class="name">
        <a routerLink="/detail/{{product._id}}">
          {{product.name}}
        </a>
      </div>
      <div class="owner">
        <a routerLink="/profile/{{product.owner._id}}">
          {{product.owner.username}}
        </a>
      </div>
      <div class="type">{{product.type}}</div>
      <div class="price">${{product.price}}</div>
      <div class="image" style="background-image: url('{{product.base64}}')"></div>
      <div class="address">{{product.address}}</div>
    </li>
</ul>
