<div class="container">
  <h3 class="sub-title">Profile</h3>

  <div class="form-group row">
    <label for="username" class="col-sm-2">Username:</label>
    <label id="username" class="col-sm-3">{{profileUser.username}}</label>
    <i class="fa fa-heart" [hidden]="this.follow === 'none'"
       [ngClass]="{'followed': this.follow === 'true', 'unfollowed': this.follow === 'false'  }"
       (click)="addToFavorites()"></i>
  </div>

  <div class="form-group row">
    <label for="address" class="col-sm-2">Address:</label>
    <label id="address" class="col-sm-10">{{profileUser.address}}</label>
  </div>

  <div class="form-group row">
    <label for="role" class="col-sm-2">Role:</label>
    <label id="role" class="col-sm-10">{{profileUser.role}}</label>
  </div>

  <div class="form-group row" [hidden]="!profileOwner()">
    <label for="email" class="col-sm-2">Email:</label>
    <label id="email" class="col-sm-10">{{profileUser.email}}</label>
  </div>

  <div class="form-group row" [hidden]="!profileOwner()">
    <label for="phone" class="col-sm-2">Phone:</label>
    <label id="phone" class="col-sm-10">{{profileUser.phone}}</label>
  </div>

  <div [hidden]="!profileOwner()" class="form-group row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <button (click)="update()" class="btn btn-lg btn-success btn-block">Update</button>
    </div>
  </div>

  <div [hidden]="profileUser.role !== 'SELLER'">
    <h3 class="sub-title">Published</h3>
    <app-product-grid [products]="products"
                      [publish]="profileUser._id === currentUser._id">
    </app-product-grid>
    <br>
  </div>

  <div [hidden]="profileUser.role !== 'BUYER'">
    <h3 class="sub-title">Bought</h3>
    <app-product-grid [products]="products" [user]="profileUser" [bought]="true">
    </app-product-grid>
    <br>
  </div>

</div>
