<div class="container">
  <h3>Profile</h3>

  <div class="form-group row">
    <div>Username: {{user.username}}</div>
  </div>
  <div class="form-group row">
    <div>Address: {{user.address}}</div>
  </div>
  <div class="form-group row">
    <div>Role: {{user.role}}</div>
  </div>
  <div class="form-group row">
    <div [hidden]=!profileOwner>Email: {{user.email}}</div>
  </div>
  <div class="form-group row">
    <div [hidden]=!profileOwner>Phone: {{user.phone}}</div>
  </div>

  <button
    class="btn btn-warning btn-block rounded-pill"
    [hidden]="!profileOwner">
    <a routerLink="edit_profile/{{user._id}}">EDIT</a>
  </button>


</div>
