.home {
  padding: 10px;
  display: flex;
  flex-wrap: wrap-reverse;
}

.main {
  flex: 1
}

@media screen and (max-width: 750px) {
  .dashboard {
    display: none;
  }
}

.sub-title{
  font-family: Apercu;
  font-size: 20px;
}
