<div class="container">
  <div class="home">
    <div class="main">
      <h3 class="sub-title">Recent products</h3>
      <app-product-grid [products]="products"></app-product-grid>
      <br>
      <div [hidden]="userRole!='SELLER'">
        <h3 class="sub-title">Published</h3>
        <app-product-grid [products]="published" [user]="currentUser" [publish]="true"></app-product-grid>
        <br>
      </div>
      <div [hidden]="userRole!='BUYER'">
        <h3 class="sub-title">Bought</h3>
        <app-product-grid [products]="products" [user]="currentUser" [bought]="true"></app-product-grid>
        <br>
      </div>
      <div [hidden]="userRole==''">
        <h3 class="sub-title">Following</h3>
        <li *ngFor="let followedUser of followedUsers">
          <a routerLink="/profile/{{followedUser._id}}">{{followedUser.username}}</a>
        </li>
      </div>
    </div>
    <div style="width:300px">
      <div style="width:100%;height:300px">
        <app-product-map [products]="products"></app-product-map>
      </div>
<!--      <div #map style="width:100%;height:300px"></div>-->
      <div class="dashboard">
        <p class="sub-title">we have {{products.length}} products in total</p>
      </div>
    </div>
  </div>

</div>


