<div class="container">
  <app-privacy-policy></app-privacy-policy>
  <div class="home">
    <div class="main">
      <h3>Recent products</h3>
      <app-product-grid [products]="products">
      </app-product-grid>
      <br>
      <h3>Published</h3>
      <br>
      <h3>Liked</h3>
      <br>
      <h3>Viewed</h3>
    </div>
    <div style="width:300px">
      <div #map style="width:100%;height:300px"></div>
      <div class="dashboard">
        <p>users: 100</p>
        <p>products: 200</p>
        <p>transactions: 0</p>
      </div>
    </div>
  </div>

</div>
