<div class="container">
  <app-privacy-policy></app-privacy-policy>
  <div class="home">
    <div class="main">
      <div>
        <h3>Following</h3>
        <a routerLink="/profile/5fcd5d592fd1ed517137efd8">Lin</a>
        <br>
        <a routerLink="/profile/5fcd5f2b2fd1ed517137efd9">Joe</a>
      </div>
      <h3>Recent products</h3>
      <app-product-grid [products]="products"></app-product-grid>
      <br>
      <div [hidden]="userRole!='SELLER'">
        <h3>Published</h3>
        <app-product-grid [products]="published" [publish]="true"></app-product-grid>
        <br>
      </div>
      <div [hidden]="userRole!='BUYER'">
        <h3>Bought</h3>
        <app-product-grid [products]="products" [publish]="true"></app-product-grid>
        <br>
      </div>
    </div>
    <div style="width:300px">
      <div style="width:100%;height:300px">
        <app-product-map [products]="products"></app-product-map>
      </div>
<!--      <div #map style="width:100%;height:300px"></div>-->
      <div class="dashboard">
        <p>we have {{products.length}} products in total</p>
      </div>
    </div>
  </div>

</div>


